<!DOCTYPE html>
<html>
<head lang="en"> 
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Business Capabilities, Business Capability greyshore, grayshore, Business Architecture, Business Engineering, Business Informatics, Business Value, Business Capability Assessment, Business Capability Roadmap, Business Capability Delivery, IT Spending, Motion Methodology, Offshore, Onshore, Nearshore, Outsourcing, Business Modeling, Charlotte NC North Carolina" />
    <meta name="description" content="greyshore is a professional brand and connection to experience, insight and capability." />   <title>greyshore</title>
    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Retina.js - Load first for faster HQ mobile images. -->
    <script src="assets/js/plugins/retina/retina.min.js"></script>
    <!-- Font Awesome -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Greyshore Fonts -->
    <!-- Header Font -->
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:700' rel='stylesheet' type='text/css'>
    <!-- Subheader Font (Italic) and Paragraph Font (Normal) -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>    
    <!-- Link Font -->
    <link href='http://fonts.googleapis.com/css?family=Puritan' rel='stylesheet' type='text/css'>
    
    <!-- Plugin CSS -->
    <link href="assets/css/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="assets/css/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="assets/css/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="assets/css/plugins/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="assets/css/plugins/jquery.fs.wallpaper.css" rel="stylesheet" type="text/css">
    <link href="assets/css/plugins/animate.css" rel="stylesheet" type="text/css">

    <!-- Stylesheet. -->
    <link href="assets/css/index.css" rel="stylesheet" type="text/css">

    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top">

<%= yield %>

</body>
</html>
